

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg,
    rgba(131,58,180,1) 0%,
    rgba(228,24,24,1) 50%,
    rgba(252,176,69,1) 100%);
    font-family: sans-serif;
    color: #d6dadb;
}
main{
    width: 730px;
    margin: 50px auto ;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button{
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.section2{
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
    width: 250px;
    height: 400px;
}
.estadisticas{
    border: 1px solid #fff;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
}